
<div class="container">
    <h2 class="h6">Вход</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="subtitle">
        <label for="login">Логин</label>
        <input id="login" formControlName="login" type="text" />
      </div>
        <div class="subtitle">
        <label for="password">Пароль</label>
        <input id="password" formControlName="password" type="password" />
      </div>
      <button class="btn" type="submit">Войти</button>
    </form>
  </div>

  