.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px; /* Расстояние между элементами формы */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mat-background
{
    background: transparent;
}