:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    background: var(--dark-color);
    color: var(--light-color);
}


header {
    
    width: 100%; /* Ширина заголовка */
}



.btn {
    border: none;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.subtitle {
    font-size: 14px;
    line-height: 20px;
    color: var(--light-color);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid var(--light-color);
    border-radius: 15px;
    padding: 20px;
    background: var(--dark-color);
    color: var(--light-color);
}
p { 
    color: var(--light-color);
     margin-bottom: 30px;
     } 
img { 
    width: 100%; 
    height: auto;
     border-radius: 15px; 
     margin-top: 20px; 
    }

