<div class="container">
  <mat-card class="mat-background">
    <h2 class="h6">Регистрация</h2>
    <form class="form_reg" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput id="login" formControlName="login" [errorStateMatcher]="matcher" type="text" />
        <mat-error *ngIf="registerForm.get('login')?.hasError('required')">
          Логин обязателен
        </mat-error>
        <mat-error *ngIf="registerForm.get('login')?.hasError('minlength')">
          Логин должен быть не менее 3 символов
        </mat-error>
        <mat-error *ngIf="registerForm.get('login')?.hasError('maxlength')">
          Логин должен быть не более 16 символов
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput id="firstName" formControlName="firstName" type="text" />
        <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
          Имя обязательно
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput id="lastName" formControlName="lastName" type="text" />
        <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
          Фамилия обязательна
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL аватара</mat-label>
        <input matInput id="avatarUrl" formControlName="avatarUrl" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput id="password" formControlName="password" type="password" />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Пароль обязателен
        </mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
          Пароль должен быть не менее 6 символов
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput id="confirmPassword" formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
          Подтверждение пароля обязательно
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('mismatch')">
          Пароли не совпадают
        </mat-error>
      </mat-form-field>
      <button style="margin-top: 20px;" class="btn" type="submit" [disabled]="!registerForm.valid">Зарегистрироваться</button>
    </form>
  </mat-card>
</div>

  
