<div class="container">
  <mat-card class="mat-background">
    <h2>Создать пост</h2>
    <form class="form_createPost " [formGroup]="postForm" (ngSubmit)="createPost()">
      <mat-form-field>
        <mat-label>Заголовок</mat-label>
        <input matInput formControlName="title" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="postForm.get('title')?.hasError('required')">
          Заголовок обязателен
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Содержание</mat-label>
        <textarea matInput class="text-area-post" formControlName="content"></textarea>
        <mat-error *ngIf="postForm.get('content')?.hasError('required')">
          Содержание обязательно
        </mat-error>
      </mat-form-field>
      <button class="btn" type="button" class="btn btn-tags" (click)="addTag(newTagControl.value)">Добавить тег</button>
      <mat-form-field>
        <mat-label>Теги</mat-label>
        <input matInput [formControl]="newTagControl" placeholder="Добавьте тег" (keydown.enter)="$event.preventDefault()" />
        <mat-error *ngIf="newTagControl.hasError('required')">
          Тег обязателен
        </mat-error>
        
        <div *ngFor="let tag of tags; let i = index" style="margin-top: 10px;" class="subtitle">
          <label class="btn-tags">
            {{ tag }} 
            <button mat-flat-button type="button" (click)="removeTag(i)">X</button>
          </label>
        </div>
      </mat-form-field>
      <button class="btn" type="submit" [disabled]="postForm.invalid">Создать пост</button>
    </form>
  </mat-card>
</div>
