.text-area-post {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    background: var(--dark-color);
    color: var(--light-color);
}
.btn-tags
{
    margin-top: 15px;
    max-width: 200px;
}