.sidebar {
    display: flex;
    flex-direction: row;
    background: var(--dark-color); /* Цвет фона */
    color: var(--light-color);
    padding: 20px; /* Внутренние отступы */
    overflow-y: auto; /* Прокрутка, если содержимое превышает высоту */
    border-radius: 5px;
    border: 1px solid var(--light-color);
    background: var(--dark-color);
    color: var(--light-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}


